  body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
    position: relative;
    overflow-x: hidden;
  }
  a:link{
    text-decoration: none;
  }

  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

  .lead {
    font-size: 1.5rem;
  }
  
  /* CODE FOR NAVBAR */

  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background:transparent;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }
  
  .navbar ul li a:hover {
    color: white
  }
  
  /* CODE FOR HOME SECTION */

  section {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: black;
    height: 100vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#home{
    color:rgb(0, 0, 0);
    font-size:30px;
    font-weight: bold;
    opacity:0.7;
    letter-spacing:3px;
    text-transform:uppercase;
}
section#home {
  background: url('img/img2199.png') no-repeat center center/cover;
  background-attachment:fixed;
}

.intro{
    margin-top:3em;
    width:100%;
    text-align:left;
    background-color: transparent;
    color:rgb(0, 0, 0);
    padding:92px;
    line-height:1.5em;
    font-size:39px;
  }
  .intro1{
     margin-top:-12.3em;
    width:100%;
    text-align:left;
    background-color: transparent;
    color:rgb(0, 0, 0);
    padding:91px;
    font-size:17px;
    line-height: 0.1em;
  }

/* CODE FOR PROJECTS SECTION */

#projects{
    font-size:37px;
    font-weight: bold;
    letter-spacing:3px;
    text-transform:uppercase;
    height:86vh;
    opacity:0.93;
    background-image:url('projects.png');
    background-attachment: fixed;    
    background-color: black;
    background-size:cover;
    background-repeat:no-repeat;
}


.txtproject{
    text-align: center;
    color: #0a0000;
    color: rgb(235, 248, 45);
}

.seeprojects{
    text-align: center;
    font-size: 21px;
    color: rgb(235, 248, 45);
    text-transform: none;
    margin-top: 6em;
}

.btn{
  background-color: rgb(235, 248, 45);
  padding: 6px 20px;
  margin-left:36.5em;
  border-radius:2em;
  margin-top:1em;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  color: black;
  display: inline-block;
}

/* CODE FOR EXPERIENCE SECTION */

#experience{
    font-size:30px;
    font-weight: bold;
    letter-spacing:3px;
    text-transform:uppercase;
    height:80vh;
}       

.txtexperience{
    text-align: center;
    font-weight: bolder;
    color: black;
    margin-left:0.2em;
    color: yellow;
    text-align: left;
    margin-top: 1.5em;
    
}

.seeexperience{
    text-align: center;
    font-size: 16px;
    color: rgb(235, 248, 45);
    text-transform: none;
    margin-left:0.4em;
    margin-top: 2em;
    text-align: left;
    padding-top: 0.1 em;
    line-height: 2.3em;

}

.btn_exp{
    background-color: black;
    padding: 5px 15px;
    margin-left:38.3em;
    border-radius: 2em;
    margin-bottom: 3em;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ffffff;
    color: white;
    display: inline-block;
}


.vid{
    margin-right: -6cm;
}

#myVideo {
    position: sticky;
    width: 85%;
    height: 126vh;
  }

.expcontainer{
  margin-left: 10em;
  margin-top: -10em;

}  

/* CODE FOR ABOUT SECTION */

#about
{
    opacity: 1.0;
    text-decoration: none;
    background-image: url('about_photo.png');   
}

.aboutpic {
  width: 209vh;
  height: 140vh;
} 


.btn-download
{
     background-color: rgb(94, 90, 90);
     border: none;
     color: white; 
     padding: 10px 28px;
     cursor: pointer;
     font-size: 15px;
     border-radius: 2em;
     margin-top: 41em;
     margin-left: 34.9em;
     text-decoration: none;   
     
}

.btn-hireme{ 
    background-color: rgb(94, 90, 90);
    border: none;
    color: white; 
    padding: 10px 28px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 2em;
    margin-right:4em;
    margin-top: 41em;
    text-decoration: none;
}

  /* Code for contact form */

  form{
    margin-top: 4.5em;
    margin-left: 20em;
    
  }

  input[type=text], select, textarea
  {
    width: 70%;
    padding: 12px;
    background-color:rgb(46, 45, 45);
    border: none;
    box-sizing: border-box; 
    margin-top: 10px;    
    color: white;
  }

  input[type=email], select, textarea
   {
    width: 70%; 
    padding: 12px;
    border: none;
    color:rgb(255, 255, 255);
    margin-top: 12px;
    background-color:rgb(46, 45, 45);
    border: 1px solid rgb(46, 45, 45); 
    box-sizing: border-box;

  }

  input[type=submit]
   {
    background-color: #b9c515;
    color: white;
    border: none;
    padding: 13.5px 45px;
    border-radius: 3em;
    cursor: pointer;
    margin-left: 590px;
    text-transform: uppercase;
    margin-top: 20px;
    word-spacing:10px;
    opacity: 0.99;
    font-size: 15px;
  }


  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  ::placeholder{
    color: #9c9c9c;
    text-align:start;
    font-size: 15px;
  }

.contact-container{
  width:75%vh;
}

#contact{
  background-color: black;
  opacity: 0.85;
}

.contact-title{
  font-size: 36px;
  margin-top: 2.4em;
  margin-left: 14.9em;
  color: #ffffff;

}