@media only screen  
{
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
      
  }
  body{
    font-family:"Lato", sans-serif;
    width: 100%;
    height: auto;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    overflow-x: hidden;
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
  }

  img {
  width: 100%;
  height: auto;
}
  /* NAVBAR CODE STARTS HERE */

  nav{
    position: fixed;
    z-index:1;
    background: transparent;
    height:auto;
    width: 100%;
  }
  nav ul{
    opacity: 0.75;
  }
  nav ul li{
    display: inline-block;
  
  }
  nav ul li a{
    color: rgb(255, 255, 255);
    text-transform: none;
  }
  a.active,a:hover{
    background: #bdbdbd;
    transition: .5s;
  }
  .checkbtn{
    font-size: 18px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 3rem;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  a:link{
    text-decoration: none;
  }

  .container {
  
    position: relative;
}

  /* CODE FOR HOME SECTION */

  section {
    display: table;
    margin: 0;
     width: 100%;
    background-color: black;
    height: 100vh;
    overflow-y: scroll; 
    overflow-x: hidden;
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
}

#home{
    color:rgb(0, 0, 0);
    font-weight: normal;
    opacity:0.73;
    letter-spacing:0.05rem;
    text-transform:uppercase;
}
section#home {
  background: url('img/img2199.jpg') no-repeat center center/cover;
  background-attachment:scroll;
  height: 50vh;
  width: 100%;
  object-fit: cover;
  position:relative;
}

.intro{
  position: absolute;
  top: 40%;  
  width: 100%;
  left:1%;
  padding:0.03rem;
  border-right: 0.01rem solid rgba(255, 255, 255, 0.75);
  font-size: 8px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

.intro1{
  position: absolute;
  top: 48%;  
  width: 10rem;
  left:1.5%;
  padding:0.3rem;
  border-right: 0.13rem solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow:hidden;
  font-size:5px;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 0.5s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
  }

.anim-typewriter1{
animation: typewriter1 4s steps(44) 0.6s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
}

@keyframes typewriter{
from{width: 0;}
to{width: 8.5rem;}
}
@keyframes typewriter1{
from{width: 0;}
to{width: 5.5rem;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.intro{
    width:100%;
    text-align:left;
    background-color: transparent;
    color:rgb(0, 0, 0);
  }
.intro1{
    width:97%;
    background-color: transparent;
    color:rgb(0, 0, 0);
    line-height: 0.01em;
  }

/* CODE FOR PROJECTS SECTION */


.project-container{
  position:relative;
  top:0;
  height: 50vh;
}

#projects{
    position:relative;
    letter-spacing:0.01rem;
    text-transform:uppercase;
    opacity:0.86;
    width:100%;
    height:auto;
    background:url('img/projectssss.jpg');
    background-attachment: scroll; 
    background-size: cover;   
    object-fit: fill;
}


 .txtproject{
  font-size: 12px;
  position:absolute;
  left:-36%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  top:10%;
}

.seeprojects{
    position: absolute;
    font-size: 8px;
    color: rgb(255, 255, 255);
    text-transform: none;
    top:32%;
    left:1%;
    text-align: left;
    width:100%;
    letter-spacing:0.06rem;
    line-height:0.9rem;
    font-weight: normal;
}

.btn{
    background-color: black;
    padding: 1px 3px;
    border-radius: 2em;
    text-decoration: none;
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: white;
    display: inline-block;
    outline: none;
    left:1%;
    top:60%;
    width:30%;
    position:absolute;
    text-transform: none;
}

/* CODE FOR EXPERIENCE SECTION */


.exp-video{
  top:0;
  position:relative;

}

#experience{
  position:relative;
  height:25vh;
  background-color: black;
}

#video{
  position:relative;
  max-width: 100%;
  height:auto;

}

.expbtn-box{
  background-color: #ffffff;
  position: absolute;  
  top:0;
}


.btn_exp{
    background-color: black;
    padding: 1px 3px;
    border-radius: 2em;
    text-decoration: none;
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: white;
    display: inline-block;
    outline: none;
    left:37%;
    top:90%;
    width:24%;
    position:absolute;
  }

a:hover:link{
    text-decoration: none;
  }

.vid{
    margin-right: -6cm;
    height:2em;

}

.expcontainer{
  margin-left: 10em;
  margin-top: -10em;

}  

/* CODE FOR ABOUT SECTION */

.about-container{
  position: relative;
  height: 65vh;
  width: 100%;
}

#about
{
    height: 65vh;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    text-decoration: none;
    background-image: url('about_photo.jpg');  
    background-size: cover;
    background-position: center;
    }

.txtabout{
  margin-top:1rem;
  margin-left: -0.3rem;
  margin-right: auto;
  font-size:12px;
  letter-spacing:1px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.btn-download{
  background-color:transparent;
  border: 0.12rem solid #000000;
  color: rgb(0, 0, 0); 
  padding: 0.05rem 0.15rem;
  cursor: pointer;
  font-size:8px;
  border-radius: 2em;
  text-decoration: none;   
  text-align: center;
  bottom:30%;
  left: 38%;
  outline: none;
  position:absolute;
  display:inline-block;
  width:22%;
}

.btn-hireme{ 
  background-color:transparent;
  border: 0.12rem solid #000000;
  color: rgb(0, 0, 0); 
  padding: 0.05rem 0.15rem;
  cursor: pointer;
  font-size:8px;
  border-radius: 2em;
  text-decoration: none;   
  text-align: center;
  bottom:21%;
  left: 38%;
  outline: none;
  position:absolute;
  display:inline-block;
  width:22%;
}

.btn-hireme a{
  width: 28px;
  height: 10px;
}

  /* Code for contact form */

section#contact{
  background-color: black;
  opacity: 0.85;
  height:100%;
  position: absolute;
  width: 100%;
}

.contact-title{
  font-size: 10px;
  text-align: center;
  left: 34%;
  color: #b9c515;
  position: absolute;
  letter-spacing:0.5px;
  top: 10%;
}

  form{
    margin-top: 50%;
    margin-left:14%;
    height: 40%;
    width: 100%;
  }

  input[type=text], select, textarea
  {
    width: 70%;
    padding: 2px;
    background-color:rgb(46, 45, 45);
    border: none;
    box-sizing: border-box;   
    color: white;
  }

  input[type=email], select, textarea
   {
    width: 70%; 
    padding: 2px;
    border: none;
    color:rgb(255, 255, 255);
    margin-top: 12px;
    background-color:hsl(0, 1%, 18%);
    border: 1px solid rgb(46, 45, 45); 
    box-sizing: border-box;

  }

  input[type=submit]
   {
    position:absolute;
    background-color: #b9c515;
    color: rgb(43, 42, 42);
    border: none;
    padding: 3px 20px;
    border-radius: 3em;
    cursor: pointer;
    top: 90%;
    outline: none;
    left: 34%;
    width: 28%;
    text-transform: none;
    letter-spacing:0.5px;
    opacity: 0.99;
    font-size: 8px;
    font-weight: bold;
  }

  input[type=submit]:hover {
    background-color: #a1aa28;
  }
  
  ::placeholder{
    color: #b9c515;
    text-align:start;
    font-size: 8px;
  }

#message-contact{
height: 50px;
}
}

@media only screen and (min-width:320px){
#message-contact{
  height: 100px;
  }


.btn_exp{
  font-size: 10px;
}


  input[type=submit]{
    left: 35%;
  }

  .intro{
    font-size: 14px; 
  }
  
  .intro1{
    font-size:8px;   
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 0.5s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
    }
  
  .anim-typewriter1{
  animation: typewriter1 4s steps(44) 0.6s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
  }
  
  @keyframes typewriter{
  from{width: 0;}
  to{width: 14.3rem;}
  }
  @keyframes typewriter1{
  from{width: 0;}
  to{width: 7.9rem;}
  }

  .txtproject{
    font-size: 16px;
    left:-35%;

  }
  
  .seeprojects{
      font-size: 10px;
      color: rgb(255, 255, 255);
      text-transform: none;
      left:1%;
  }
  
  .btn{
      font-size: 10px;
      left:1%;
      top:55%;
  }

  .txtabout{
    font-size:16px;
  }
  
  .btn-download{

    font-size:10px;
    bottom:30%;
    left: 38%;
  }
  
  .btn-hireme{ 
    font-size:10px;
    bottom:23%;
    left: 38%;
  }





  .contact-title{
    font-size: 16px;
    left: 34%;
  }
  
    form{
      margin-top: 30%;
      margin-left:15%;
    }
  
    input[type=text], select, textarea
    {
      padding: 10px;
    }
  
    input[type=email], select, textarea
     {
      padding: 10px;
    }
  
    input[type=submit]
     {
      top: 85%;
      left: 35%;
      font-size: 10px;
    }
    
    ::placeholder{
      font-size:10px;
    }


}

@media only screen and (min-width:428px){

 
.btn_exp{
  font-size: 12px;
  left: 38%;
}

  .checkbtn{
    font-size: 20px;
  }

  .intro{
    font-size: 18px; 
  }
  
  .intro1{
    font-size:10px;   
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 0.5s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
    }
  
  .anim-typewriter1{
  animation: typewriter1 4s steps(44) 0.6s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
  }
  
  @keyframes typewriter{
  from{width: 0;}
  to{width: 18rem;}
  }
  @keyframes typewriter1{
  from{width: 0;}
  to{width: 9.7rem;}
  }

  .txtproject{
    font-size: 20px;
    left:-37%;
  }
  
  .seeprojects{
      font-size: 12px;
      text-transform: none;
      left:2%;
  }
  
  .btn{
      font-size: 12px;
      left: 2%;
      top:50%;
      width: 25%;
  }


.txtabout{
  font-size:20px;
  margin-top: 1.5rem;
  margin-left: -0.5rem;
}

.btn-download{

  font-size:12px;
  bottom:30%;
  left: 38%;
}

.btn-hireme{ 
  font-size:12px;
  bottom:24%;
  left: 38%;
}

form{
  width: 100%;
  top:30%;
}

.contact-title{
  font-size: 20px;
  justify-content: center;
  color: #b9c515;
  position: absolute;
  letter-spacing:0.5px;
  top: 10%;
  left: 35%;
}


  input[type=text], select, textarea
  {
    padding: 12px;
  }

  input[type=email], select, textarea
   {
    padding: 12px;
  }

  #contact-form input[type=submit]
   {
    left: 34.5%;
    font-size: 12px;
  }
  
  ::placeholder{
    font-size:12px;
  }
}
/* STYLES FOR TABLET STRATS NOW */

@media only screen and (min-width:600px){

  .intro{
    font-size: 22px; 
  }

  #video{
    position:relative;
    width: 100%;
    height:100%;
  }
  
  .checkbtn{
    font-size: 29px;
  }

  .intro1{
    font-size:13px;  
    padding: 10px; 
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 0.5s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
    }
  
  .anim-typewriter1{
  animation: typewriter1 4s steps(44) 0.6s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
  }
  
  @keyframes typewriter{
  from{width: 0;}
  to{width: 16em;}
  }
  @keyframes typewriter1{
  from{width: 0;}
  to{width: 12.3rem;}
  }

  #projects{
    height: 57vh;
  }

  .txtproject{
    font-size: 23px;
  }
  
  .seeprojects{
      font-size: 14px;
      line-height: 25px;
  }
  
  .btn{
      font-size: 14px;
      left: 2%;
      top:65%;
      width: 28%;
      padding:8px;
  }

  .btn_exp{
    font-size: 13px;
    left: 35%;
    width:28%;
    padding: 10px;
  }
  

.txtabout{
  font-size:23px;
  margin-top: 2rem;
  margin-left: -0.5rem;
}

.btn-download{

  font-size:14px;
  bottom:29%;
  left: 35%;
  width:28%;
  padding:8px;
}

.btn-hireme{ 
  font-size:14px;
  bottom:21%;
  left: 35%;
  width:28%;
  padding:8px;
}


.contact-title{
  font-size:23px;
  left:37%;
}

  form{
    margin-left:15%;
  }

  input[type=text], select, textarea
  {
    padding: 13px;
  }

  input[type=email], select, textarea
   {
    padding: 13px;
  }

  #contact-form input[type=submit]
   {

    top: 80%;
    left: 37%;
    font-size: 14px;
    width: 28%;
    padding:10px;
    position:absolute;
  }
  
  #message-contact{
    height: 200px;
  }
  ::placeholder{
    font-size:14px;
  }
}

@media only screen and (min-width:768px){

  section#home{
    height:90vh;
  }

  .checkbtn{
    font-size: 32px;
  }

  .intro{
    font-size: 30px; 
  }
  
  .intro1{
    font-size:20px;  
    padding: 20px; 
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 0.5s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
    }
  
  .anim-typewriter1{
  animation: typewriter1 4s steps(44) 0.6s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
  }
  
  @keyframes typewriter{
  from{width: 0;}
  to{width: 29.5rem;}
  }
  @keyframes typewriter1{
  from{width: 0;}
  to{width: 19rem;}
  }

  .project-container{
    height: 60vh;
  }

  section#projects{
    max-height: 100%;
  }

  .txtproject{
    font-size: 28px;
    left:-38%;
  }
  
  .seeprojects{
      font-size: 19px;
      line-height: 27px;
  }
  
  .btn{
      font-size: 20px;
      left: 2%;
      top:60%;
      background:transparent;
    }


  .btn_exp{
    font-size: 18px;
    padding: 8px;
  }
  
  
  #video{
    position:relative;
    width: 100%;
    height:100%;
  }

.txtabout{
  font-size:29px;
  margin-top: 5%;
  margin-left:-4%;
}

#about{
  height: 100vh;
}

.btn-download{
  font-size:19px;
  left: 35%;
  bottom:0%;
  padding: 5px;
}

.btn-hireme{ 
  font-size:19px;
  bottom:-9%;
  left: 35%;
  padding: 5px;

}

.contact-title{
  font-size: 29px;
  left: 38%;
  top: 10%;
}

  form{
    margin-top: 25%;
    margin-left:15.5%;
  }

  input[type=text], select, textarea
  {
    padding: 13px;
  }

  input[type=email], select, textarea
   {
    padding: 13px;
  }

  #contact-form input[type=submit]
   {
    top:90%;
    left: 38%;
    padding: 5px;
    font-size: 18px;
  }

  #message-contact{
    height: 250px;
  }
  ::placeholder{
    font-size:15px;
  }
}


@media only screen and (min-width:859px){


.contact-title
{
  left: 40%;
  top:5%;
}
section#contact{
  height: 100%;
}

  form{
    margin-left: 18%;
    margin-top: 18% ;
  }

  #contact input[type=submit]{
    left: 38%;
    width: 27%;
    top: 94.5%;
  }

  input[type=email], select, textarea{
margin-top: 2%;
  }

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

*{
 list-style: none;
 text-decoration: none;
 box-sizing: border-box;
}

aside{
  margin-top: -15em;
  width:7px;
}


#social{
 position:sticky;
 transition: all 0.3s linear;
 box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
 width: 10%;
}

#social li{
 height: 57px;
 position:relative;
}

#social li a{
 color: white;
 display: block;
 height: 2.79rem;
 width: 2.9rem;
 line-height: 20px;
 border-bottom: 1px ;
 transition: all .3s linear;
 text-align: center;

}


#social li:nth-child(1) a{
 background: #4267B2;
 text-align: center;
}

#social li:nth-child(2) a{
 background: #E1306C;
 text-align: center;
}

#social li:nth-child(3) a{
 background: #2867B2;
 text-align: center;
}
#social li:nth-child(4) a{
 background: #333;
 text-align: center;
}

#social li a i{
 position:absolute;
 top: 14px;
 left: 14px;
 right: 14px;
 bottom: 14px;
 font-size: 27px;
}
#social ul li a span{
 display: none;
 font-family:"Lato", sans-serif;
 font-weight:inherit;
 letter-spacing: 1px;
 text-transform: none;
 text-align: center;
 
}
#social a:hover {
 z-index:1;
 margin-top: 5px;
 width: 150px;
 border-bottom: 1px solid rgba(0,0,0,.5);
 box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}

#social ul li:hover a span{
 padding-left: 30%;
 padding-top: 10%;
 font-size: 15px;
 font-weight: lighter;
 display: block;
} 
}

@media only screen and (min-width:1054px){

  form{
    margin-top: 15%;
  }

  .contact-title{
    left: 42%;
  }

  .txtabout{
    margin-top:1%;
    margin-left: 0.3%;
  }

  .btn-download{
    bottom:-10%;
  }

  .btn-hireme{
    bottom: -20%;
  }
} 

@media only screen and (min-width:1200px)
{

  section#home{
    background-attachment: fixed;
    height: 100vh;
  }

  .project-container{
    height:60vh;
  }
  
  #projects{
      background:url('img/projects.jpg');
      background-attachment: fixed; 
      background-size: cover;   
      object-fit: fill;
  }
  
  
   .txtproject{
    font-size:38px;
    font-weight: bold;
    left:0%;
    text-align: center;
    letter-spacing:1.5px;
    color: rgb(0, 0, 0);
  }
  
  .seeprojects{
      font-size: 19px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      top:32%;
      left:1%;
      text-align: center;
      letter-spacing:1px;
      line-height:25px;
  }
  
  .btn{
      background-color: rgb(0, 0, 0);
      padding: 8px 3px;
      border-radius: 2em;
      text-decoration: none;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #ffffff;
      color: white;
      display: inline-block;
      outline: none;
      left:40.5%;
      width:18%;
      top:65%;
  }

  #about{
    height:100vh;
    
  }
  .txtabout{
    margin-top: 0.5%;
    margin-left: -1%;
    margin-right: auto;
    font-size: 38px;
    letter-spacing:0.7px;
    text-align: center;
  }

  .btn-download{
    bottom:-16%;
  }

  .btn-hireme{
    bottom: -28%;
  }


  input[type=text], select, textarea
  {
    width: 50%;
    padding: 12px;
    background-color:rgb(46, 45, 45);
    border: none;
    box-sizing: border-box; 
    margin-top: 10px;    
    color: white;
  }

  input[type=email], select, textarea
   {
    width: 50%; 
    padding: 12px;
    border: none;
    color:rgb(255, 255, 255);
    margin-top: 12px;
    background-color:hsl(0, 1%, 18%);
    border: 1px solid rgb(46, 45, 45); 
    box-sizing: border-box;

  }

  input[type=submit]
   {
    padding: 13.5px;
    outline: none;
    left: 46.5%;
    width:15%;
    font-size: 15px;
  }

  ::placeholder{
    font-size: 15px;
  }

.contact-title{
  font-size: 38px;
}

form{
  margin-left: 27%;
}
}

/* ____________________________ */


  @media (min-width: 859px){
   
    nav ul{
      opacity: 0.8;
      width:100%;
      display: flex;
      list-style: none;
      justify-content: center;
    }
    a.active,a:hover{
      background:none;
    }
    
    nav ul li a{
      font-size: 23px;
      padding: 30px;
      text-decoration: none;
      display:block;
      font-weight: bold;
    }
    nav ul li a{
      color: rgb(0, 0, 0);
      text-transform: none;
     
    }

  nav ul li a:hover {
    color: white;
  }
  

  }


  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #313131;
      top: 50px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      text-decoration: underline;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
 

@media only screen and (min-width:1400px)
{

nav ul li a{
  font-size: 30px;
}

.intro{
  font-size: 40px;

}

.intro1{
  font-size:28px;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 39rem;}
  }
  @keyframes typewriter1{
  from{width: 0;}
  to{width: 26rem;}
  }

  .txtproject{
    font-size: 42px;
  }

  .seeprojects{
    font-size:23px;
    line-height: 40px;
  }

  .btn{
    font-size: 23px;
  }

.btn_exp{
   font-size: 23px;
  }

.txtabout{
  font-size: 44px;
  letter-spacing:5px;
  margin-top: 3%;
}

.btn-download{
  font-size: 23px;
  bottom:-1%;
}
.btn-hireme{
  font-size: 23px;
  bottom:-10%;
}

input[type=text], select, textarea{
  padding: 20px;
}
input[type=email], select, textarea{
  padding: 20px;
}
#message-contact{
  height:330px;
}
.contact-title{
  font-size: 44px;
}

#contact input[type=submit]{
  font-size:23px;
  padding: 10px;
  left: 41.5%;
  width: 20%;
}
  ::placeholder{
  font-size: 20px;
}

aside{
  margin-top: -20rem;
  width:10px;
}


#social{
 position:sticky;
 transition: all 0.3s linear;
 box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
 width: 10%;
}

#social li{
 height: 70px;
 position:relative;
}

#social li a{
 height: 3.3rem;
 width: 3.5rem;
}


#social a:hover {
 width: 250px;
 height:60px;
}

#social ul li:hover a span{
 padding-left: 20%;
 padding-top: 7%;
 font-size: 23px;
 font-weight: normal;
}
}

@media only screen and (min-width:1900px){


  nav ul li a{
    font-size: 40px;
  }
  
  .intro{
    font-size: 45px;
  }
  
  .intro1{
    font-size:33px;
  }
  
  @keyframes typewriter{
    from{width: 0;}
    to{width: 43.8rem;}
    }
    @keyframes typewriter1{
    from{width: 0;}
    to{width: 30rem;}
    }
  
    .txtproject{
      letter-spacing: 3px;
      font-size: 55px;
    }
  
    .seeprojects{
      font-size:30px;
      line-height: 50px;
    }
  
    .btn{
      font-size: 27px;
    }
  
  .btn_exp{
     font-size: 27px;
    }
  
  .txtabout{
    font-size: 57px;
    margin-top: 2%;
  }
  
  .btn-download{
    font-size: 27px;
    bottom:-7%;
  }
  .btn-hireme{
    font-size: 27px;
    bottom:-15%;
  }
  
  input[type=text], select, textarea{
    padding: 25px;
  }
  input[type=email], select, textarea{
    padding: 25px;
  }
  #message-contact{
    height:370px;
  }
  .contact-title{
    font-size: 55px;
  }
  
  #contact input[type=submit]{
    font-size:27px;
    padding: 10px;
    left: 41.5%;
    width: 20%;
  }
    ::placeholder{
    font-size: 25px;
  }
  
}


@media only screen and (min-width:2300px){



nav ul li a{
  font-size: 60px;
}

.intro{
  font-size: 70px;

}

.intro1{
  font-size:40px;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 68rem;}
  }
  @keyframes typewriter1{
  from{width: 0;}
  to{width: 36rem;}
  }

  .txtproject{
    font-size: 75px;
    
  }

  .seeprojects{
  font-size:40px;
  line-height:70px;
}

  .btn{
    font-size: 38px;
  }

.btn_exp{
   font-size: 38px;
  }

.txtabout{
  font-size: 79px;
  letter-spacing:5px;
  margin-top: 2%;
}

.btn-download{
  font-size: 38px;
  bottom:-5%;
}
.btn-hireme{
  font-size: 38px;
  bottom:-14%;
}

input[type=text], select, textarea{
  padding: 40px;
}
input[type=email], select, textarea{
  padding: 40px;
  margin-top: 3rem;
}
#message-contact{
  height:430px;
}
.contact-title{
  font-size: 75px;
}

#contact input[type=submit]{
  font-size:38px;
  padding: 10px;
  left: 41.5%;
  width: 20%;
}
  ::placeholder{
  font-size: 30px;
}

aside{
  margin-top: -25rem;
  width:10px;
}



#social li{
 height: 90px;

}

#social li a{
 height: 3.8rem;
 width: 4.1rem;
}


#social a:hover {
 width: 250px;
 height:60px;
}

#social ul li:hover a span{
 padding-left: 20%;
 padding-top: 7%;
 font-size: 27px;
 font-weight: bold;
}
}