@media only screen  
{
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
      
  }
  body{
    font-family:"Lato", sans-serif;
    width: 100%;
    height: auto;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    overflow-x: hidden;
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
  }

  img {
  width: 100%;
  height: auto;
}



  /* NAVBAR CODE STARTS HERE */

  nav{
    position: fixed;
    z-index:1;
    background: transparent;
    height:auto;
    width: 100%;
  }
  nav ul{
    float: right;
    opacity: 0.75;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: rgb(255, 255, 255);
    text-transform: none;
  }
  a.active,a:hover{
    background: #bdbdbd;
    transition: .5s;
  }
  .checkbtn{
    font-size: 18px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 3rem;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  a:link{
    text-decoration: none;
  }

  .container {
  
    position: relative;
}

   
  /* CODE FOR HOME SECTION */

  section {
    display: table;
    margin: 0;
    max-width: 100%;
    background-color: black;
    height: 100vh;
    overflow-y: scroll; 
    overflow-x: hidden;
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
}

#home{
    color:rgb(0, 0, 0);
    font-weight: normal;
    opacity:0.73;
    letter-spacing:0.05rem;
    text-transform:uppercase;
}
section#home {
  background: url('img/img2199.jpg') no-repeat center center/cover;
  background-attachment:scroll;
  height: 50vh;
  width: 100%;
  object-fit: cover;
  position:relative;
}

.intro{
  position: absolute;
  top: 40%;  
  width: 100%;
  left:1%;
  padding:0.03rem;
  border-right: 0.01rem solid rgba(255, 255, 255, 0.75);
  font-size: 8px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

.intro1{
  position: absolute;
  top: 48%;  
  width: 10rem;
  left:1.5%;
  padding:0.3rem;
  border-right: 0.13rem solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow:hidden;
  font-size:5px;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 0.5s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
  }

.anim-typewriter1{
animation: typewriter1 4s steps(44) 0.6s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
}

@keyframes typewriter{
from{width: 0;}
to{width: 8.5rem;}
}
@keyframes typewriter1{
from{width: 0;}
to{width: 5.5rem;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.intro{
    width:100%;
    text-align:left;
    background-color: transparent;
    color:rgb(0, 0, 0);
  }
  .intro1{
    width:97%;
    background-color: transparent;
    color:rgb(0, 0, 0);
    line-height: 0.01em;
  }

/* CODE FOR PROJECTS SECTION */


.project-container{
  position:relative;
  top:0;
  height: 50vh;
}

#projects{
    position:relative;
    letter-spacing:0.01rem;
    text-transform:uppercase;
    opacity:0.86;
    width:100%;
    height:auto;
    background:url('img/projectssss.jpg');
    background-attachment: scroll; 
    background-size: cover;   
    object-fit: fill;
}


 .txtproject{
  font-size: 12px;
  position:absolute;
  left:-25%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  top:10%;
}

.seeprojects{
    position: absolute;
    font-size: 8px;
    color: rgb(255, 255, 255);
    text-transform: none;
    top:32%;
    left:5%;
    text-align: left;
    width:100%;
    letter-spacing:0.06rem;
    line-height:0.9rem;
    font-weight: normal;
}

.btn{
    background-color: black;
    padding: 1px 3px;
    border-radius: 2em;
    text-decoration: none;
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: white;
    display: inline-block;
    outline: none;
    left:10%;
    top:60%;
    width:30%;
    position:absolute;
    text-transform: none;
}

/* CODE FOR EXPERIENCE SECTION */


.exp-video{
  top:0;
  position:relative;

}

#experience{
  position:relative;
  height:25vh;
  background-color: black;
}

#video{
  position:relative;
  max-width: 100%;
  height:auto;

}

.expbtn-box{
  background-color: #ffffff;
  position: absolute;  
  top:0;
}


.btn_exp{
    background-color: black;
    padding: 1px 3px;
    border-radius: 2em;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: white;
    display: inline-block;
    outline: none;
    left:37%;
    top:90%;
    width:24%;
    position:absolute;
  }

a:hover:link{
    text-decoration: none;
  }

.vid{
    margin-right: -6cm;
    height:2em;

}

.expcontainer{
  margin-left: 10em;
  margin-top: -10em;

}  

/* CODE FOR ABOUT SECTION */

.about-container{
  position: relative;
  height: 65vh;
  width: 100%;
}

#about
{
    height: 65vh;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: rgb(226, 226, 226);
    text-decoration: none;
    max-width: 100%;
    background-image: url('about_photo.jpg');  
    background-size: cover;
    background-position: center;
    }

.txtabout{
  margin-top:1rem;
  margin-left: -0.3rem;
  margin-right: auto;
  font-size:12px;
  letter-spacing:1px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.btn-download{
  background-color:transparent;
  border: 0.12rem solid #000000;
  color: rgb(0, 0, 0); 
  padding: 0.05rem 0.15rem;
  cursor: pointer;
  font-size:8px;
  border-radius: 2em;
  text-decoration: none;   
  text-align: center;
  bottom:30%;
  left: 38%;
  outline: none;
  position:absolute;
  display:inline-block;
  width:22%;
}

.btn-hireme{ 
  background-color:transparent;
  border: 0.12rem solid #000000;
  color: rgb(0, 0, 0); 
  padding: 0.05rem 0.15rem;
  cursor: pointer;
  font-size:8px;
  border-radius: 2em;
  text-decoration: none;   
  text-align: center;
  bottom:21%;
  left: 38%;
  outline: none;
  position:absolute;
  display:inline-block;
  width:22%;
}

.btn-hireme a{
  width: 28px;
  height: 10px;
}

  /* Code for contact form */

.contact-container{
  position: relative;
  height: 70vh;
  width: 100%; 
}


#contact{
  background-color: black;
  opacity: 0.85;
  height: 70vh;
}

.contact-title{
  font-size: 10px;
  text-align: center;
  left: 32%;
  color: #b9c515;
  position: absolute;
  letter-spacing:0.5px;
  top: -29%;
}

  form{
    margin-top: 7.5rem;
    margin-left:2rem;
    height:45vh;
    width: 100%;
  }

  input[type=text], select, textarea
  {
    width: 70%;
    padding: 7px;
    background-color:rgb(46, 45, 45);
    border: none;
    box-sizing: border-box;   
    color: white;
  }

  input[type=email], select, textarea
   {
    width: 70%; 
    padding: 7px;
    border: none;
    color:rgb(255, 255, 255);
    margin-top: 12px;
    background-color:hsl(0, 1%, 18%);
    border: 1px solid rgb(46, 45, 45); 
    box-sizing: border-box;

  }

  input[type=submit]
   {
    position:absolute;
    background-color: #b9c515;
    color: rgb(43, 42, 42);
    border: none;
    padding: 5px 20px;
    border-radius: 3em;
    cursor: pointer;
    top: 81%;
    outline: none;
    left: 32%;
    width: 28%;
    text-transform: none;
    letter-spacing:0.5px;
    opacity: 0.99;
    font-size: 8px;
    font-weight: bold;
  }


  input[type=submit]:hover {
    background-color: #368339;
  }
  
  ::placeholder{
    color: #b9c515;
    text-align:start;
    font-size: 8px;
  }

#message-contact{
height: 70px;
}
}

@media only screen and (min-width:320px){
#message-contact{
  height: 150px;
  }

  form{
    margin-top: 6.5rem;
    margin-left:3.2rem;
  }

  .checkbtn{
   font-size:18px;
  }
  .contact-title{
    font-size: 16px;
    text-align: center;
    left: 33%;
    color: #b9c515;
    position: absolute;
    letter-spacing:0.5px;
    top: -25%;
  }

  input[type=submit]{
    left: 35%;
  }

  .intro{
    font-size: 14px; 
  }
  
  .intro1{
    font-size:8px;   
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 0.5s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
    }
  
  .anim-typewriter1{
  animation: typewriter1 4s steps(44) 0.6s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
  }
  
  @keyframes typewriter{
  from{width: 0;}
  to{width: 14.3rem;}
  }
  @keyframes typewriter1{
  from{width: 0;}
  to{width: 7.9rem;}
  }

  .txtproject{
    font-size: 16px;
    left:-23%;
  }
  
  .seeprojects{
      font-size: 10px;
      color: rgb(255, 255, 255);
      text-transform: none;
      left:1%;
  }
  
  .btn{
      font-size: 10px;
      left:11.5%;
      top:55%;
  }

  .txtabout{
    font-size:16px;
  }
  
  .btn-download{

    font-size:10px;
    bottom:30%;
    left: 38%;
  }
  
  .btn-hireme{ 
    font-size:10px;
    bottom:23%;
    left: 38%;
  }

  .contact-title{
    font-size: 16px;
    left: 32%;
    top: -26%;
  }
  
    form{
      margin-top: 7rem;
      margin-left:2.9rem;
    }
  
    input[type=text], select, textarea
    {
      padding: 10px;
    }
  
    input[type=email], select, textarea
     {
      padding: 10px;
    }
  
    input[type=submit]
     {
      top: 81%;
      left: 35%;
      font-size: 10px;
    }
    
    ::placeholder{
      font-size:10px;
    }


}

  @media only screen and (min-width:428px){
form{
    margin-top: 7.5rem;
    margin-left:4.5rem;
    height:50vh;
    width: 100%;
  }

  .checkbtn{
    font-size: 20px;
  }
  .contact-title{
    font-size: 20px;
    text-align: center;
    left: 35%;
    color: #b9c515;
    position: absolute;
    letter-spacing:0.5px;
    top: -20%;
  }

  input[type=submit]{
    left: 36%;
    top:85%;
  }

  .contact-container{
    height: 50vh;
  }

  #contact{
    height: 50vh;
  }


  .intro{
    font-size: 18px; 
  }
  
  .intro1{
    font-size:10px;   
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 0.5s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
    }
  
  .anim-typewriter1{
  animation: typewriter1 4s steps(44) 0.6s 1 normal both,blinkTextCursor 700ms steps(44) infinite normal;
  }
  
  @keyframes typewriter{
  from{width: 0;}
  to{width: 18rem;}
  }
  @keyframes typewriter1{
  from{width: 0;}
  to{width: 9.7rem;}
  }


  .txtproject{
    font-size: 20px;
    left:-21%;
  }
  
  .seeprojects{
      font-size: 12px;
      text-transform: none;
      left:5%;
  }
  
  .btn{
      font-size: 12px;
      left:14%;
      top:50%;
  }

  .btn{
    font-size: 10px;
    left:11.5%;
    top:55%;
}

.txtabout{
  font-size:20px;
  margin-top: 1.5rem;
}

.btn-download{

  font-size:12px;
  bottom:30%;
  left: 38%;
}

.btn-hireme{ 
  font-size:12px;
  bottom:24%;
  left: 38%;
}


.contact-title{
  font-size: 20px;
  left: 34%;
  top: -20%;
}

  form{
    margin-top: 7rem;
    margin-left:4.5rem;
  }

  input[type=text], select, textarea
  {
    padding: 12px;
  }

  input[type=email], select, textarea
   {
    padding: 12px;
  }

  input[type=submit]
   {
    top: 83%;
    left: 35.5%;
    font-size: 12px;
  }
  
  ::placeholder{
    font-size:12px;
  }
}


/* ____________________________ */



  @media (max-width: 952px){
   
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #313131;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      text-decoration: underline;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
 
  