*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    

  }
  body{
    font-family:"Lato", sans-serif;
    background-color: black;
  }

  h2{
    color: white;
    text-align: center;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

  nav{
    background:transparent;
    height: 80px;
    width: 100%;  
    z-index: 1;
  }

  nav ul{
    text-align:center;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }
  nav ul li a{
    color: rgb(182, 180, 180);
    font-size: 19px;
    font-weight: bold;
    padding: 39px;
    border-radius: 3px;
    text-transform: none;

  }
  a.active,a:hover{
    transition: .5s;
    text-decoration:underline;
    text-decoration-thickness: 2.5px;
    padding: 7px;
  }
  .checkbtn{
    font-size: 30px;
    color:rgba(170, 167, 167, 0.795);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    background-color: transparent;
    display: none;
  }
  #check{
    display: none;
  }

  input[type="checkbox"]:not(:checked){
font-size: 10px;
  }



  /* The grid: Three equal columns that floats next to each other */
  .project{
      position:relative;
  }
  
  .column {

    left: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 39vh;
    margin-bottom: 20px;
    padding: 70px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  } 

  

  @media (max-width: 858px){
    .checkbtn{
      display: block;
      background-color: transparent;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba(54, 54, 54, 0.795);
      top: 80px;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: rgba(243, 243, 243, 0.795);
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

    @media (min-width: 859px){
    nav ul li a{
      font-size: 20px;
    }
  }
